@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    /* align-items: center;
    min-height: 100vh; */
    background: #111;
}
.formData{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formData button{
    position: relative;
    margin-left: 10px;
}

.formData input{
    padding: 8px 16px;
    width: 50%;
}

.list #delete{
    position: relative;
    margin-left: 20%;
    width: 60%;
}

.list{
    position: relative;
    background: #fff;
    width: 550px;
    margin: 10px 0;
}

.list h2{
    background: #03a9f4;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
}

.list ul{
    position: relative;
    padding: 20px;
}

.list ul li{
    position: relative;
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.list ul li:last-child{
    border-bottom: none;
}

.list ul li label{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.list ul li label input{
    visibility: hidden;
    appearance: none;
}

.list ul li label p{
    position: absolute;
}

.list ul li label span{
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list ul li label span::before{
    content: '';
    position: absolute;
    top: 5px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: rotate(-40deg);
}

.list ul li label input:checked ~ p{
    text-decoration: line-through;
    color: #ccc;
}

.list ul li label input:checked ~ span{
    background: #03a9f4;
    border: 1px solid #03a9f4;
}

.list ul li label input:checked ~ span::before{
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

button{
    font-size: 16px;
    background-color: #ccc;
    color: #1890ff;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    border: 2px solid #1890ff;
}
button:hover {
    font-size: 16px;
    background-color: #1890ff;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    border: 2px solid #1890ff;
}
button:disabled {
    background-color: #e6f7ff;
    cursor: not-allowed;
    color: #ccc;
    border-radius: 8px;
    padding: 8px 16px;
    border: 2px solid #e6f7ff;
}
button:focus {
    outline: 0;
}

img{
position: relative;
width: 550px;
}

.loadingMessage{
    color: #03a9f4;
    padding: 10px 20px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 40px;
    overflow: hidden;
}

.welcome{
    background: #fff;
}
